.tag-mark {
    font-size: 75%;
    padding: 0 .5rem 0 .5rem;
    border-radius: 5px;
    background: #333333;
    color: #fff;
    }

h1,h2,h3,h4,h5,h6 {
  font-family: 'PT Sans Narrow', sans-serif;
  font-weight: 700;
}


.category-list {
    padding-left: 1rem;
    list-style: none;
}


.category-list h3 {
    font-size: 1rem;
    margin-top: 0;
    display:inline;
}
.category-list li small {
    font-size: 75%;
    color: #999;
}
.category-list li a:hover {
    background-color: #707070;
    color: #fff;
    text-decoration: none;
}
.category-list li a:hover small {
    color: inherit;
}

.page-title {
    text-transform: uppercase;
}

a {
  color: #268bd2;
  text-decoration: none;
}
a strong {
  color: inherit;
}
/* `:focus` is linked to `:hover` for basic accessibility */
a:hover,
a:focus {
  text-decoration: underline;
}
