html {
     font-family: 'PT Sans', sans-serif;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'PT Sans Narrow', sans-serif;
  font-weight: 700;
}

a {
  text-decoration:none;
}
a strong {
  color: inherit;
}
a:hover,
a:focus {
  text-decoration: underline;
}

/* 
list of matching posts beneath tag name header 
*/
.tag-header {
     color: #d33682;
     text-transform: capitalize
}

.tag-posts {
    padding-left: 1rem;
    list-style: none;
}

.tag-posts h3 {
    font-size: 1rem;
    margin-right: 0.5rem;
    margin-top: 0;
    display:inline;
}
.tag-posts li small {
    font-size: 75%;
    color: #999;
}

.tag-posts h3 a {
     color: #333333;
}

.tag-mark {
    font-size: 80%;
    padding: .2rem .5rem .2rem .5rem;
    border-radius: 5px;
    background: #333333;
    color: #fff;
    }

.tag-mark:hover {
    background-color: #707070;
    color: #fff;
    text-decoration: none;
}

.tag-posts .tag-mark {
    padding: .1rem .3rem .1rem .3rem;
    font-size: 60%;
    border-radius: 3px;
    background: #aaaaaa;
    color: #ffffff;
}

.tag-posts .tag-mark:hover {
    background-color: #dddddd;
    color: #ffffff;
    text-decoration: none;
}

.post-tag {
    padding: .1rem .3rem .1rem .3rem;
    font-size: 80%;
    border-radius: 3px;   
    background: #707070;
    color: #ffffff;
}

.post-tag:hover {
    background-color: #aaaaaa;
    color: #ffffff;
    text-decoration: none;
}
     


.page-title {
    text-transform: uppercase;
}
