html, body {
     height: 100%
}

body {
     font-family: 'PT Sans', sans-serif;
     font-size: 16px;
     background-color: #e5e5e5;
}

#wrapper {
     padding: 100px 40px 100px 40px;
     max-width: 720px;
     background-color: #ffffff;
     margin: 0 auto; 
}

img {
     display:block;
     max-width: 100%;
     margin-left: auto;
     margin-right: auto;
}


pre {
     background-color: #f8f8ff;
     padding-left: 5px;
     border-left: 5px solid #707070;
     white-space: pre;
     overflow: auto;
}

pre code {
     font-size:12px;
     border-style: none;
     background-color: #f8f8ff;
}

code {
     background-color: #fefefe;
     font-size:12px;
     border-width: 1px;
     border-style: solid;
     border-color: #eeeeee
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'PT Sans Narrow', sans-serif;
  font-weight: 700;
}

a {
  text-decoration:none;
}
a strong {
  color: inherit;
}
a:hover,
a:focus {
  text-decoration: underline;
}

/* 
list of matching posts beneath tag name header 
*/
.tag-header {
     color: #d33682;
     text-transform: capitalize;
     margin-bottom: 0.5rem;
}

.tag-posts {
    padding-left: 1rem;
    list-style: none;
    margin-top: 0rem;
    
}

.tag-posts h3 {
    font-size: 1rem;
    margin-right: 0.5rem;
    margin-top: 0;
    display:inline;
    font-weight: normal;
}
.tag-posts li small {
    font-size: 75%;
    color: #999;
}

.tag-posts li {
     margin-bottom: 0.5rem;
     martin-top: 0rem;
}
.tag-posts h3 a {
     color: #333333;
}

.tag-mark {
    font-size: 80%;
    padding: .2rem .5rem .2rem .5rem;
    border-radius: 5px;
    background: #333333;
    color: #fff;
    }

.tag-mark:hover {
    background-color: #707070;
    color: #fff;
    text-decoration: none;
}

.tag-posts .tag-mark {
    padding: .1rem .3rem .1rem .3rem;
    font-size: 60%;
    border-radius: 3px;
    background: #aaaaaa;
    color: #ffffff;
}

.tag-posts .tag-mark:hover {
    background-color: #dddddd;
    color: #ffffff;
    text-decoration: none;
}

.post-tag {
    padding: .1rem .3rem .1rem .3rem;
    font-size: 80%;
    border-radius: 3px;   
    background: #aaaaaa;
    color: #ffffff;
}

.post-tag:hover {
    background-color: #dddddd;
    color: #ffffff;
    text-decoration: none;
}
     
.post-date {
     font-weight:bold;
     color: #999;
}

.post h2 {
     color: #d33682;
     font-size: 2rem;
     margin-top: 1.5rem;
}

.post h3 {
     color: #333333;
     margin-top:1.5rem;
     margin-bottom:0.6rem;
}


.post-title {
     font-size: 3rem;
}

.page-title {
    text-transform: uppercase;
}
